/*=======================*/
/* Additional Fonts */
/*=======================*/

/* Ubuntu fonts */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_aijTyevf54tkVDLy-dlnD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/DZ_YjBPqZ88vcZCcIXm6VobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/kbP_6ONYVgE-bLa9ZRbvvvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/OMD20Sg9RTs7sUORCEN-7YbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(http://themes.googleusercontent.com/static/fonts/ubuntumono/v4/ViZhet7Ak-LRXZMXzuAfkYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
};
@font-face {
    font-family: 'Mishmash BRK';
    font-weight: normal;
    font-style: normal;
    src: url(http://ascfours.free.fr/tmp2/fonts/mishmash.woff) format('woff');
}

/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    #background-color: #000;
    background-color: rgba(44,62,80 , .8 );
    background-image: url('../img/pattern.png');
    background-position: center;
    background-repeat: repeat;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 15px 0 15px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 5px;
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Ubuntu';
}

@media(min-width:768px) {
    p {
        margin: 0 0 5px;
        font-size: 18px;
        line-height: 1.6;
	font-family: 'Ubuntu';
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
	margin: 15px 0 15px;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
    }
}

a {
    color: #21819d;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #4dadc9;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 10px;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

.navbar-custom.top-nav-collapse .navbar-brand{
    color: #21819d;
}

.navbar-custom.top-nav-collapse .button-navbar{
    color: #21819d;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }

    .navbar-custom.top-nav-collapse .navbar-brand{
	color: #21819d;
    }
    
    .navbar-custom.top-nav-collapse .button-navbar{
	color: #21819d;
    }
    
    .navbar-custom .navbar-brand {
	font-weight: 700;
	font-size: 16px;
    }
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-fixed-bottom{
    padding: 5px 5px 2px 2px;
    background: #000;
}

.intro {
    width: 100%;
    height: auto;
    padding: 100spx 0;
    display: table;
    position: relative;
    text-align: center;
}

.intro:after {
    content: "";
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.try {
    position: relative;
}

/* .intro { */
/*     display: table; */
/*     width: 100%; */
/*     height: auto; */
/*     padding: 100px 0; */
/*     text-align: center; */
/*     color: #fff; */
/*     background: url(../img/intro-bg.jpg) no-repeat bottom center scroll; */
/*     background-color: #000; */
/*     -webkit-background-size: cover; */
/*     -moz-background-size: cover; */
/*     background-size: cover; */
/*     -o-background-size: cover; */
/* } */

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-family: 'Mishmash BRK';
    margin-top: 70px;
    font-size: 20px;
}

.intro .intro-body .intro-text {
    font-size: 12px;
    font-family: Montserrat;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
	font-family: 'Mishmash BRK';
	margin-top: 0px;
        font-size: 40px;
    }

    .intro .intro-body .intro-text {
        font-size: 18px;
	font-family: Montserrat;
	#color: #21819d;
    }

    
    .intro .intro-body .clock-time {
	margin-top: 5px;
	margin-bottom: 25px;
	font-family: 'Montserrat';
	font-size: 15px;
    }

    .panel-body {
	font-size: 12px;
	font-family: 'Ubuntu';
    }

    .panel-title {
	font-size: 18px;
	font-family: 'Mishmash BRK';
    }
}

.panel-title {
    font-size: 18px;
    font-family: 'Mishmash BRK';
}

.panel-body {
    font-size: 12px;
    font-family: 'Ubuntu';
}

.countdown-container {
    position: relative;
    #top: 50%;
    #-webkit-transform: translateY(-50%);
    #-moz-transform: translateY(-50%);
    #transform: translateY(-50%);

}

.clock-item .inner {
    height: 0px;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.clock-canvas {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 50%;
    height: 0px;
    padding-bottom: 100%;
}

.text {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    width: 100%;
}

.panel-primary {
    /*border-color: #faebcc;*/
    border-color: #21819d;
    border-radius: 10px;
}
.panel-primary > .panel-heading {
    /*color: #8a6d3b;
      background-color: #fcf8e3;
      border-color: #faebcc;*/
    color: #fff;
    background-color: #21819d;
    border-color: #21819d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.panel-primary > .panel-body{
    background-color: rgba(44,62,80 , .8 );
    background-image: url('../img/pattern.png');
}

.text .val {
    font-family: 'Raleway';
    font-size: 15px;
}

.text .type-time {
    font-family: 'Raleway';
    font-size: 15px;
    margin-top: 0px;
}

.text-blue {
    color: #21819d;
}

.text-subtitle {
    #border: 1px solid #21819d;
    color: #21819d;
    background-color: transparent;
    font-family: 'Montserrat';
    font-size: 16px;
}

.text-title {
    border: 1px solid #21819d;
    color: #21819d;
    background-color: transparent;
    font-family: 'Mishmash BRK';
    font-size: 16px;
}

.text-footer {
    font-size: 8px;
    font-family: "Ubuntu";
    text-align: center;
}

.intro-pad-image {
    padding: 1px 1px 1px 1px;
}


.intro-date {
    font-size: 12px;
}

@media (min-width: 768px) {
   .intro-date {
	font-size: 14px;
    }

    .text-title {
	border: 1px solid #21819d;
	color: #21819d;
	background-color: transparent;
	font-family: 'Mishmash BRK';
	font-size: 36px;
    }

    .text-subtitle {
	#border: 1px solid #21819d;
	color: #21819d;
	background-color: transparent;
	font-family: 'Montserrat';
	font-size: 20px;
    }

    .clock-item {
	margin: 0px 10px 0px 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .clock-item {
	margin-bottom: 30px;
	}
}

@media (max-width: 767px) {
    .clock-item {
	margin: 0px 0px 30px 00px;
	}
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.map-section {
  margin-right: -100px;
  margin-left: -100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    dispaly: block;
    position: relative;
    background-color: rgba(0,0,0,.5);
}

.parcours-left {
    text-align: left;
    font-family: 'Ubuntu';
    font-size: 10pt;
}

@media(min-width:767px) {
    .parcours-left {
	text-align: left;
	font-family: 'Ubuntu';
	font-size: 14pt;
    }
}

/* .download-section { */
/*     width: 100%; */
/*     padding: 50px 0; */
/*     color: #fff; */
/*     background: url(../img/downloads-bg.jpg) no-repeat center center scroll; */
/*     background-color: #000; */
/*     -webkit-background-size: cover; */
/*     -moz-background-size: cover; */
/*     background-size: cover; */
/*     -o-background-size: cover; */
/* } */

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 100px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #21819d;
    color: #21819d;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #21819d;
    outline: 0;
    color: #000;
    background-color: #21819d;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

/* footer { */
/*     padding: 50px 0; */
/* } */

/* footer p { */
/*     margin: 0; */
/* } */

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}